
/*
1. Colors _Pro-tip: Use the [Eye Dropper](https://chrome.google.com/webstore/detail/eye-dropper/hmdcmlfkchdmnmnmheododdhjedfccka) Chrome extension to find the colors used on web pages._
   * Teal color (used for headings and backgrounds): `#4aaaa5`
   * Regular font color (used for paragraphs and all text besides the headings): `#777777`
   * Main header background color: `#ffffff`
   * Main header border color: `#cccccc`
   * Footer background color: `#666666`
   * Main content background color: `#ffffff`
   * Main content border color: `#dddddd`

2. Fonts:
   * For heading fonts use `font-family: 'Georgia', Times, Times New Roman, serif;`.
   * For all other fonts use `'Arial', 'Helvetica Neue', Helvetica, sans-serif;`.

3. Profile Image Found on `index.html`:
   * Use a picture of yourself.
   * If you don't have a picture, you can grab a placeholder image from [LoremPixel](http://lorempixel.com/). Save the images to your `images` folder.

4. Portfolio Images:
   * Placeholder images can be found at [LoremPixel](http://lorempixel.com/).
   * Save the images to your `images` folder.

5. Background Images:
   * The background pattern used was found on [Subtle Patterns](https://subtlepatterns.com/). You can browse through that site and find whichever pattern you like.

6. Dimensions:
   * The entire content and the main section content area is `960px` wide.
*/

h1{
    font-size: 22pt;
    color: #4aaaa5;
}

h2{
    font-size: 18pt
}

h3{
    font-size: 14pt
}

p, form{
    font-size: 12pt;
    line-height: 16pt;
}

body {
    color:#777777;
    border: #cccccc;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/white-waves.png");
    background-repeat: repeat;
    background-size: cover;
}

header {
    background-color: white;
    border-color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-width: 0px 0px 3px 0px;
    border-style:solid;
    width: 100%;
    height: 70px;
}



a:link {
    color:#777777;
    text-decoration: none;
}

a:visited {
    color:rgb(134, 11, 134);
    text-decoration: none;
}

a:active {
    color:rgb(179, 53, 8);
    background-color: transparent;
    text-decoration: none;
}

footer {
    background-color: #666666;
    color: white;
    text-align: center;
    padding: 5px;
    border-style: solid; 
    border-width: 10px 0px 0px 0px;
    border-color: #4aaaa5;
    position: fixed;
    bottom: 0px;
    width:100%;
}


div.container{
    width:80%;
    height:100%;
    margin-top:10px;
    margin-bottom:10px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-color: white;
}

#square1{
    width: 300px;
    margin: 20px;
    padding: 10px;
    display: inline-block;
    background-color: #4aaaa5;
    color: white;
}

#square2{
    width: 300px;
    margin: 20px;
    padding: 10px;
    display: inline-block;
    background-color: #4aaaa5;
    color: white;
}

#square3{
    width: 300px;
    margin: 20px;
    padding: 10px;
    display: inline-block;
    background-color: #4aaaa5;
    color: white;
}

#square4{
    width: 300px;
    margin: 20px;
    padding: 10px;
    display: inline-block;
    background-color: #4aaaa5;
    color: white;
}

#square5{
    width: 300px;
    margin: 20px;
    padding: 10px;
    display: inline-block;
    background-color: #4aaaa5;
    color: white;
}

#square6{
    width: 300px;
    margin: 20px;
    padding: 10px;
    display: inline-block;
    background-color: #4aaaa5;
    color: white;
}

#header_name{
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    width: 160px;
    height: 40px;
    position: fixed;
    top: 12px;
    left: 100px;
    text-align: center;
    color: white;
}

#header_link_contact{
    border: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    width: 100px;
    position: fixed;
    top: 16px;
    right: 100px;
    text-align: center
}

#header_link_portfolio{
    border: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    width: 100px;
    position: fixed; 
    top: 16px;
    right: 200px;
    text-align: center
}

#header_link_index{
    border: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    width: 100px;
    position: fixed;
    top: 16px;
    right: 300px;
    text-align: center
}

#about_image{
    float:left;
    width:150px;
    height:auto;
    margin: 20px;
}

#portfolio_box_container{
    padding: 20px;
}


